.mat-card {
    margin: 10px auto;
    max-width: 800px;
}

.mat-card-actions {
    text-align: center;
}

.warn {
    color: red;
    font-size: 12px;
}

.mat-icon {
    vertical-align: text-bottom;
}
