<mat-card>
  <h3>Hi, I'm a hard coded job!</h3>
  <h4>And this is my company</h4>

   <mat-card-content>
       <section>
            <h4>Description</h4>
            <p>And this is my description: the Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>    
       </section>
    
       <section>
            <h4>Responsibilities</h4>

            <ul>
                <li>Show up on time</li>
                <li>Do your job</li>
            </ul>
       </section>

       <section>
            <h4>Requirements</h4>

            <ul>
                <li>Some skills</li>
            </ul>
       </section>

       <section>
            <h4>Benefits</h4>

            <ul>
                <li>A salary</li>
                <li>Free public transport</li>
            </ul>
       </section>

       <section>
            <h4>Work hours</h4>

            <p>32 hours a week</p>
       </section>
  </mat-card-content>

  <mat-card-actions> 
      <button mat-raised-button color="accent">APPLY</button>
  </mat-card-actions>
</mat-card>
