<header>
    <mat-toolbar color="primary">
        <mat-icon color="accent">card_travel</mat-icon> Job marketplace
        <span class="spacer"></span>
        <mat-icon color="accent">account_circle</mat-icon>
    </mat-toolbar>
</header>

<section role="main">
    <app-jobs></app-jobs>
</section>

<footer></footer>
