@import '~@angular/material/theming';
@include mat-core();

mat-toolbar {
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: mat-color($mat-purple, 800);
    color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

mat-icon {
    padding-right: 10px;
}

section {
    padding-top: 60px;
}

.spacer {
    flex: 1 1 auto;
  }
