<mat-card>
    <h3>Hi, I'm a hard coded job!</h3>
    <h4>And this is my company</h4>

     <mat-card-content>
        And this is my description: the Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
    </mat-card-content>

    <mat-card-actions> 
        <button mat-raised-button color="accent">VIEW</button>
    </mat-card-actions>
</mat-card>
