<mat-card>
  <h3>Profile</h3>

  <form>
    <mat-card-content>
        <mat-form-field class="full-width" color="accent">
            <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field class="full-width" color="accent">
            <input matInput placeholder="Last name">
        </mat-form-field>

        <mat-form-field class="full-width" color="accent">
            <input matInput placeholder="Email" value="wouter@l1nda.nl">
        </mat-form-field>

        <mat-form-field class="full-width" color="accent">
            <input matInput placeholder="Telephone">
        </mat-form-field>

        <mat-form-field class="full-width" color="accent">
            <input matInput [matDatepicker]="picker" placeholder="Date of birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="accent">SAVE</button>
    </mat-card-actions>
  </form>
</mat-card>